{% load staticfiles %}
<html>
    <head >
      
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
      
		
    </head>
    <body>
       <div class="page-header jumbotron" align="center">
			<h1><a href="/">Gitter</h1>
		</div>
	<div class="form-group" align="center" >
		<label for="usr">Username:</label>
		<input type="text" class="form-control" id="usr">
	</div>
	<div class="form-group"align="center">
		<label for="pwd">Password:</label>
		<input type="password" class="form-control" id="pwd">
	</div>
     
    </body>
</html>